.cocktail-info-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 60vw;
	font-family: var(--roboto);
	font-weight: 800;
}
.back-button {
	cursor: pointer;
	font-family: var(--roboto);
	font-weight: 800;
	width: 8vw;
	display: flex;
	justify-content: center;
	border: 1px solid rgb(244, 18, 71);
	margin-bottom: 5vh;
}
.back-button:hover {
	background-color: rgb(244, 18, 71);
	color: white;
}
.cocktail-info-container img {
	height: 50vh;
	width: auto;
}
.cocktail-ingredients li {
	list-style: none;
}
