/* .search-container {
} */
.search-container header h2 {
	font-family: var(--roboto);
}
.search-info {
	font-family: var(--roboto);
}
.search-form {
	font-family: var(--roboto);
	margin-bottom: 15vh;
}
/* .cocktail-list {
	display: flex;
	justify-content: center;
} */
