@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* .search-container {
} */
.search-container header h2 {
	font-family: 'Roboto', sans-serif;
}
.search-info {
	font-family: 'Roboto', sans-serif;
}
.search-form {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 15vh;
}
